@import "Variable.scss";
@import "Mixins.scss";

.textOrImageModule {
    .buttonModule {
        margin-top: 30px;  
    }
}

.contentTwoCol {
    .contentCol:last-child {
        margin-top: 30px;
    }
}

.imageCenter {
    img {
        display: inline-block;
    }
}

@media (min-width: $tabletSize) {

}

@media (min-width: $labtopSize) {
    .contentTwoCol {
        .contentCol:last-child {
            margin-top: 0;
        }
    }
}

@media (min-width: $DesktopSize) {
    .textOrImageModule {
        .buttonModule {
            margin-top: 50px;  
        }
    }
} 