@import "Variable.scss";
@import "Mixins.scss";

.collectionListContainer{
    margin-top:-29px;
}
.collectionListItem{
    margin-top:29px;
    width:100%;
}
.collectionListItemContainer{
    padding-left:15px;
    padding-right:15px;
}
.collectionListImage{
    margin-bottom:14px;
    img{
        width:100%;
    }
}
.collectionListContent {
    padding-left:5px;
    padding-right:5px;
    .collectionListContentTruncate{
        > *{
            &:last-child{
                margin-bottom:0;
            }
        }
    }
    h3{
        font-size:19px;
        letter-spacing:0;
        text-transform:none;
        margin-bottom:0;
        color:$red;
    }
}
.blogFiltersContainer{
    margin-bottom:29px;
}
.blogFilters{
    padding:10px 0;
}
.blogFilterTab{
    text-align:center;
    margin-top:5px;
    &:nth-child(1){
        margin-top:0;
    }
    &.active{
        .blogFilterTabLink{
            background:$black;
            /*color:$lightgrey8 !important;*/
        }
    }
    .blogFilterTabLink{
        display:inline-block;
        font-family:'opensansBold';
        font-size:18px;
        color:$white;
        text-transform:uppercase;
        text-decoration:underline;
        letter-spacing:2px;
        padding:9px 14px 10px;
        cursor:pointer;
        /*span{
            color:$white;
            text-decoration:none;
        }*/
    }
}

@media (min-width: $tabletSize) {
    .collectionListContainer{
        margin-top:-65px;
        margin-left:-40px;
        margin-right:-40px;
    }
    .collectionListItem{
        float:left;
        width:50%;
        margin-top:65px;
    }
    .collectionListItemContainer{
        padding-left:40px;
        padding-right:40px;
    }
    .blogFiltersContainer{
        margin-bottom:49px;
    }
    .blogFilters{
        padding:0;
    }
    .blogFilterTab{
        position:relative;
        float:left;
        width:50%;
        &:nth-child(2){
            margin-top:0;
        }
        &.active{
            &:after{
                content: '';
                border-style: solid;
                border-width: 16px 16px 0;
                border-color: $black transparent;
                display: block;
                width: 0;
                @include position(absolute, auto, auto, -16px, 50%, 1);
                @include transform(translateX(-50%));
            }
        }
        .blogFilterTabLink{
            width:100%;
            font-size:20px;
            padding: 25px 14px 28px;
        }
    }
}

@media (min-width: $labtopSize) {
    .collectionListItem{
        width:33.3333333%;
    }
    .blogFiltersContainer{
        margin-bottom:59px;
    }
    .blogFilters{
        padding:0 27px;
    }
}

@media (min-width: $DesktopSize) {
    .blogFilters{
        padding:0 12px;
    }
}
