@import "Variable.scss";
@import "Mixins.scss";


.headlineModule  {
    margin-top: 20px;
    margin-bottom: 20px;
    h1, .h1Style, h2, .h2Style, h3, .h3Style {
        margin-bottom: 0;
    }
}

/*RedText Headline*/
h1.headline, h2.headline, h3.headline {
    color:$red ;
    &:after{
        background: $red;
    }
    &.h1Style, &.h2Style, &.h3Style {
        color:$red ;
        &:after{
            background: $red;
        }
    } 
}

/*BlackText Headline*/
h1.headline.black, h2.headline.black, h3.headline.black {
    color: $generalFontColor ;
    &:after{
        background: $generalFontColor;
    }
    &.h1Style, &.h2Style, &.h3Style {
        color: $generalFontColor ;
        &:after{
            background: $generalFontColor;
        }
    } 
}

h1.headline, h2.headline, h3.headline {
    &.short:after {
        width: 560px;
        margin: 0 auto;
    }
}

/*Headline with textOrImage Module*/
.headlineModule + .textOrImageModule  {
    margin-top: 23px;
}

@media (min-width: $tabletSize) {
    .headlineModule  {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media (min-width: $labtopSize) {

}

@media (min-width: $DesktopSize) {
    .headlineModule + .textOrImageModule  {
        margin-top: 40px;
    }   
}

