$tabletSize: 768px;
$labtopSize: 992px;
$DesktopSize: 1200px;

$generalFontSize: 13px;
$generalFontColor: #1d1d1b;

$red: #d8292f;
$red1:#be1320;
$red3:#ee8288;
$darkRed: #ac2223;
$darkGrey: #3c3c3b;
$darkGrey1:#9d9d9d;
$darkGrey2:#575756;
$darkGrey3:#616161;
$black: #000000;
$white: #ffffff;
$lightgrey:#dcdcdc;
$lightgrey1:#c9c9c9;
$lightgrey2:#e3e3e3;
$lightgrey3:#c8c8c8;
$lightgrey4:#bfbfbf;
$lightgrey5:#fafafa;
$lightgrey6:#dadada;
$lightgrey7:#f3f3f3;
$lightgrey8:#8e8e8d;
$grey: #a7a7a7;
$almostWhite: #fefefc;
$errorRed: #ee2a32;

$bgGrey: #ececec;
$bgRed: #d9232e;
$bgBlack :  #1d1d1b;