.no-bullet {
    list-style: none;
    padding: 0;
}

.btnControl {
    margin-top: 10px;
}

.well {
    background-color: #3a4652;
    margin-top: 20px;
}

.alert {
    display: none;
    margin-top: 5px;
}

.form-control.required {
    border: 2px solid #c9302c;
}

.listOfText {
    margin-bottom: 50px;
}
.itemText {
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #a0a0a0;
}

.delete {
    display: inline-block;
    float: right;
}